In [1]:
import pandas as pd

# Pandas Series is a 1D labelled array

In [4]:
s1 = ["Ankush","Muskan","Aditya","Atharva","Atharva","Atharva","Mayuri","Sejal"]
pd.Series(s1)

0     Ankush
1     Muskan
2     Aditya
3    Atharva
4    Atharva
5    Atharva
6     Mayuri
7      Sejal
dtype: object

In [6]:
s2 = [10,20,50,85,64,53]
pd.Series(s2)

0    10
1    20
2    50
3    85
4    64
5    53
dtype: int64

In [8]:
s3 = [True,False,True,False,True,False]
pd.Series(s3)

0     True
1    False
2     True
3    False
4     True
5    False
dtype: bool

In [9]:
s1 = ["Ankush","Muskan","Aditya","Atharva","Atharva","Atharva","Mayuri","Sejal"]
l1 = pd.Series(s1)

In [11]:
l1.values

array(['Ankush', 'Muskan', 'Aditya', 'Atharva', 'Atharva', 'Atharva',
       'Mayuri', 'Sejal'], dtype=object)

In [12]:
l1.index

RangeIndex(start=0, stop=8, step=1)

In [13]:
l1.dtype

dtype('O')

# Methods

In [15]:
a1 = [3.14,9.0,4.2,5.6,5.4]
b1 = pd.Series(a1)
b1

0    3.14
1    9.00
2    4.20
3    5.60
4    5.40
dtype: float64

In [17]:
b1.sum()

27.339999999999996

In [19]:
b1.prod()

3589.2460800000003

In [20]:
b1.product()

3589.2460800000003

In [21]:
b1.mean()

5.467999999999999

In [22]:
b1.mode()

0    3.14
1    4.20
2    5.40
3    5.60
4    9.00
dtype: float64

In [23]:
b1.median()

5.4

In [25]:
b1.sort_values()

0    3.14
2    4.20
4    5.40
3    5.60
1    9.00
dtype: float64

In [26]:
b1.median()

5.4

# Parameters and arguments

In [ ]:
fruits = ["Apple","Orange","Lahsan","Adrak"]
weekdays = ["monday",]